Builds/MacOSX/Chuginator.xcodeproj/project.xcworkspace/xcuserdata/martinpenberthy.xcuserdatad/UserInterfaceState.xcuserstate
Builds/MacOSX/Chuginator.xcodeproj/xcuserdata/martinpenberthy.xcuserdatad/xcschemes/xcschememanagement.plist
Builds/MacOSX/build/Release/libChuginator.a